*{ 
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: rgb(177, 172, 172);


}
#Container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    /*border: 1px solid red; */
    background: white;



}
#Header{
    height: 145px;
    background: #f0f0f0;


}

#Logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}
#Logo img{
    float: left;
    height: 100px;
}
#Logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #01b1ea;
    font-weight: bold;
    text-decoration: none;
}
/* Menú */
#Menú{
    clear: both;
    background: #f0121222;
    color: rgb(242, 242, 250);
    height: 55px;
    border-bottom: 3px solid

    
   
}
#Menú ul{
    list-style: none;
    text-decoration: none;
    margin:0px auto ;

}
#Menú ul li {
    line-height: 55px;
    float: left; 
    border-right:1px solid #4c1ef1 ;

}

#Menú a{
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition:all 300ms ; 


}
#Menú a:first-child{
    border-left: 1px solid #363636;
    

}
#Menú a:hover{
    background: #01b1ea;

} 
#Content{
    margin: 0px auto;
    overflow: hidden;
    background: white;
    border: 4px solid ;
}



